body {
	background: #3e444f;
	font-family: calibri;
	padding-bottom: 60px;

}
header {
	font-size: 72;
}
.navbar-brand {
	padding-left: 10px;
}
img {
	float: left;
}

nav {
	font-family: calibri;
	font-style: bold;
	font-size: 72;
}

footer {
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0;
}
.container {
   	max-width: 1280px;
   	padding-bottom: 60px;

   	
}
header {
	font-size: 300%;
   	text-align: center;
   	padding-top: 1%;
}

.musicList {
  padding:0;

}
iframe {
	float: left;
}
.whitspace {
	padding: 20px;
}

