body {
	background: #3e444f;
	font-family: calibri;
}
header {
	font-size: 72;
}
.navbar-brand {
	padding-left: 10px;
}
img {
	float: left;
}

nav {
	font-family: calibri;
	font-style: bold;
	font-size: 72;
}

footer {
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0;
}
.container {
   	max-width: 1280px;
}
.overlay{
	overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
}
